@tailwind base;
@tailwind components;
@tailwind utilities;

/* profile name text styling */
.firstname {
    color: rgb(69, 199, 127);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}
.lastname{
    color:white;
    -webkit-text-stroke-width:3px;
    -webkit-text-stroke-color:black;
}

/* remove default scroll styling */
.remove-scrollbar::-webkit-scrollbar{
    display:none;
}

/* shadow style */
.shadow-effect{
    box-shadow: 8px 8px 2px 2px rgb(170, 169, 169);
}

/* Background darken when modal pops up */
.modal-backdrop{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.8);
}





